{{ define "page"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head" .}}

<body class="site-body">

    {{template "header" .}}
    <main class="niri-track-container" id="niri-track">
        <section class="niri-window container site-main" role="main">
            <article class="content">
                <section class="body">

                {{ if ne (len $PageData.Frontmatter.Title) 0 }}
                <div class="post-description">
                    <h1>{{ $PageData.Frontmatter.Title }}</h1>
                    <div class="page-date">
                        {{ if ne (len $PageData.Frontmatter.Date) 0 }}
                        Published on {{$PageData.Frontmatter.Date}}
                        {{end}}
                    </div>
                    <div class="authors-placeholder">
                        {{ if ne (len $PageData.Frontmatter.Authors) 0 }}
                        <p>Authors: {{range $i, $a := $PageData.Frontmatter.Authors}}{{if $i}}, {{end}}{{ $a }}{{end}}
                        </p>
                        {{ end }}
                    </div>
                    <div class="tags-placeholder">
                        {{ if ne (len $PageData.Frontmatter.Tags) 0 }}
                        {{range $PageData.Frontmatter.Tags}}
                        <a class="tag" href="/tags/{{.}}.html">{{.}}</a>
                        {{end}}
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                <!-- shows the markdown only if frontmatter doesnt have members, may need to change this to incorporate more pages later -->
{{ if eq (len $PageData.Frontmatter.CustomFields) 0 }}
    {{$PageData.Body}}
{{ end }}

<!-- Member grid -->
{{ if gt (len $PageData.Frontmatter.CustomFields) 0 }}
<div class="members-page">
    <div class="member-cards">
        {{range $PageData.Frontmatter.CustomFields}}
        <div class="member-card">
            <div class="member-photo-wrapper">
                <img src="/static/images/{{.photo}}" alt="{{.name}}">
            </div>
            <div class="member-card-info">
                <h3>{{.name}}</h3>
                <p class="member-designation">{{.designation}}</p>
                <div class="member-links">
                    {{if .github}}
                        <a href="{{.github}}" target="_blank">GitHub</a>
                    {{end}}
                    {{if .linkedin}}
                        <a href="{{.linkedin}}" target="_blank">LinkedIn</a>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{ end }}
            </section>
        </article>

        {{ if ne (len $PageData.Frontmatter.Tags) 0 }}
        {{ end }}
    </main>

    {{template "footer" .}}
</body>

</html>

{{ end}}
